:root{
    --primary-yellow: hsl(71, 73%, 54%);
    --primary-cyan: hsl(179, 62%, 43%);

    --neutral-gray: hsl(204, 43%, 93%);
    --neutral-blue: hsl(218, 22%, 67%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body{
    background-color: var(--neutral-gray);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 33px;
}

.bottom-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
}

.top-section{
    background-color: white;
    color: var(--neutral-blue);
}

.left-section{
    background-color: var(--primary-cyan);
}

.right-section{
    background-color: hsl(179, 80%, 43%);
}

h1{
    color: var(--primary-cyan);
    margin-bottom: 25px;
}

.top-section > p:first-of-type{
    color: var(--primary-yellow);
    font-weight: 700;
    margin-bottom: 15px;
}

.price-container{
    display: flex;
    align-items: center;
    color: hsla(204, 43%, 93%, 0.5);
    margin-bottom: 5px;
}

.price-container span{
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-right: 15px;
}

.left-section button{
    width: 100%;
    border-style: none;
    background-color: var(--primary-yellow);
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
    box-shadow:  0px 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.info-container{
    color: hsla(204, 43%, 93%, 0.7);
}

.info-container > p{
    font-size: .85rem;
    margin-bottom: 5px;
}


.left-section, .right-section, .top-section{
    padding: 40px;
}

.grid-container{
    max-width: 635px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 20px hsla(218, 22%, 67%, 0.5);
    display: flex;
    flex-direction: column;
}

.bottom-section h2{
    font-size: 1rem;
    margin-bottom: 20px;
}

.left-section > p:last-of-type{
    color: hsla(204, 43%, 93%, 0.9);
    margin-bottom: 32px;
}

.top-section > p:last-of-type{
    line-height: 25px;
}

@media screen and (max-width: 460px) {
    .bottom-section{
        display: flex;
        flex-direction: column;
    }

    .left-section, .right-section, .top-section{
        padding: 20px;
    }

    h1{
        font-size: 1.2rem;
    }

    .top-section > p:first-of-type{
        font-size: .9rem;
    }

    .top-section > p:last-of-type{
        font-size: .85rem;
    }

    .top-section{
        padding: 40px 20px;
    }
}